.noticias{
     margin-bottom: 500px;
}

.noticias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
   
}

.noticia-card {
    background: #fff;
    overflow: hidden;
}

.noticia-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noticia-card-content {
    padding: 15px;
}

.noticia-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.noticia-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.noticia-leia {
    text-decoration: none;
    color: #116107;
    font-weight: bold;
}


@media (max-width: 992px) {
    .noticias-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .noticias-container {
        grid-template-columns: 1fr;
    }

    .noticia-card img {
        height: 280px;
    }

    .noticia-card h3 {
        font-size: 16px;
    }

    .noticia-card p {
        font-size: 13px;
    }
}
