{% extends "main.html" %}
{% load static %}
{% block title %}JIFB{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/base/noticias.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/base/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/base/style.css' %}">
{% endblock %}

{% block content %}
   <div class="entrada-container">
  <div class="entrada-lg" style="background-image: url('{% static "img/desenho_IFbaianoSI.png" %}');"></div>

  <img src="{% static 'img/LOGO_JIFB_SEM_FUNDO.png'%}" alt="Logo do Jornal" class="entrada-logo">

  <div class="entrada-conteudo">
    <div class="entrada-mensagem">
      <p>Bem-vindo ao Jornal IFBaiano! Informação com qualidade e compromisso.</p>
    </div>

    
  </div>
</div>


{% load news_filters %}
{% load static %} 
<section class="noticias" id="noticias">
    <div class="container-noticias">
        <section class="noticias">
            <div class="noticias-container">
                {% for noticia in noticias %}
                    {% if noticia.visivel == True %}
                        <div class="noticia-card">
                            <a href="{% url 'noticia' noticia.id %}">
                                {% if noticia.capa_noticia %}
                                    <img src="{{ noticia.capa_noticia.url }}" alt="Capa da Notícia: {{ noticia.título }}">
                                {% else %}
                                    <img src="{% static 'img/placeholder_noticia.jpg' %}" alt="Imagem padrão de notícia">
                                {% endif %}
                            </a>
                            <div class="noticia-card-content">
                                <h3>{{noticia.título}}</h3>
                                <p>Publicado em {{noticia.created|date:"d \de F \de Y \à\s H:i"}}</p>
                                <p>Criado por {{noticia.autor}}</p>
                                
                        
                                {% if noticia.tags %} {# Verifica se o campo tags não está vazio #}
                                    <div class="noticia-tags">
                                        Tags: 
                                      
                                        {% for tag_name in noticia.tags|split:"," %}
                                            {# Remove espaços em branco do início/fim de cada tag #}
                                            <span class="badge bg-secondary me-1">{{ tag_name|strip }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <a href="{% url 'noticia' noticia.id %}" class="noticia-leia">Leia mais</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor%} 
            </div>
        </section>
    </div>
</section>


{% endblock %}

{% block extra_scripts %}
{% endblock %}