.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: px;
    text-align: center;
    margin: 5% auto 100px auto;
    box-sizing: border-box;
}

.error-message,
.success-message {
    margin-top: 10px;
    display: none;
    font-size: 0.95rem;
}

.error-message {
    color: #d9534f;
}

.success-message {
    color: #28a745; 
}

@media (max-width: 768px) {
    .login-container {
        margin-top: 13vh;
        padding: 30px 20px;
        width: 95%;
    }
}
