{% extends 'main.html' %}
{% load static %}

{% block title %}Publicar notícias{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/news/style.css' %}">
{% endblock %}
    
{% block content %}
    <div class="container mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                
                <label for="{{ noticia_form.título.id_for_label }}" class="form-label">Título:</label>
                {{ news_form.title }} 
            </div>

            <div class="mb-3">
                <label for="{{ noticia_form.tags.id_for_label }}" class="form-label">Tags (separadas por vírgula):</label>
                {{ news_form.tags }}
            </div>

            <div class="mb-3">
               
                <label for="{{ noticia_form.capa_noticia.id_for_label }}" class="form-label">Imagem da Capa:</label>
                {{ news_form.news_cover }}
            </div>

            <div class="mb-3">
              
                <label for="id_corpo" class="form-label">Conteúdo do Artigo:</label>
                  {{ news_form.body }}
            </div>
            
           
            {# <div class="mb-3"> #}
            {#     <label for="{{ arquivo_form.arquivos.id_for_label }}" class="form-label">Arquivos Adicionais:</label> #}
            {#     {{ arquivo_form.arquivos }} #}
            {# </div> #}
            {# Ou para um formset: #}
            {# {{ arquivos_formset.management_form }} #}
            {# {% for form in arquivos_formset %} #}
            {#     {{ form.as_p }} #}
            {# {% endfor %} #}
            
            <input type="submit" value="Enviar" class="btn btn-success">
        </form>
    </div>
{% endblock %}