{% extends 'main.html' %}
{% load static %}

{% block title %}Publicar notícias{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'CSS/news/style.css' %}">
{% endblock %}
    
{% block content %}
  <div class="container mt-4">
    <form enctype="multipart/form-data" method="POST_reply">
      {% csrf_token %}

        {{noticia_form.as_p}}
        {{arquivo_form.as_p}}
        

      <input type="submit" value="Enviar" class="btn btn-success">
    </form>
  </div>
{% endblock %}