{% extends "main.html" %}
{% load static %}

{% block title %}Editar Notícia{% endblock %} {# Título mais específico #}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/news/editar.css' %}" />
    
{% endblock %}


{% block content %}
<div class="form-container">
    <h2 class="mb-4">Editar Notícia: {{ noticia.title }}</h2> 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {# Renderização manual dos campos para maior controle e para o TinyMCE #}
        <div class="mb-3">
            <label for="{{ news_form.title.id_for_label }}" class="form-label">Título:</label>
            {{ news_form.title }}
        </div>

        <div class="mb-3">
            <label for="{{ news_form.tags.id_for_label }}" class="form-label">Tags (separadas por vírgula):</label>
            {{ news_form.tags }}
        </div>

        <div class="mb-3">
            <label for="{{ news_form.news_cover.id_for_label }}" class="form-label">Imagem da Capa:</label>
            {% if news.news_cover %}
                <img src="{{ news.news_cover.url }}" alt="Capa atual" style="max-width: 150px; height: auto; display: block; margin-bottom: 10px;">
                <p>Atualmente: <a href="{{ news.news_cover.url }}" target="_blank">{{ news.news_cover.name }}</a></p>
            {% endif %}
            {{ news_form.news_cover }}
        </div>

        <div class="mb-3">
            <label for="id_corpo" class="form-label">Conteúdo do Artigo:</label>
            {{ news_form.body }} 
        </div>

        <div class="mb-3 form-check">
            {{ news_form.visible.label_tag }}
            {{ news_form.visible }}
        </div>
        
        <h3 class="mt-4 mb-3">Arquivos Existentes</h3>
        {{ arquivos_formset.management_form }}
        {% for form in arquivos_formset %}
        <div class="arquivo-box">
            {{ form.id }} {# Campo oculto para o ID do arquivo #}
            {% if form.instance.arquivos %} 
                <p>Arquivo: <a href="{{ form.instance.arquivos.url }}" target="_blank">{{ form.instance.arquivos.name }}</a></p>
            {% else %}
                <p>Nenhum arquivo.</p>
            {% endif %}
            
           
            {# {{ form.nome.label_tag }} {{ form.nome }} #} 
            
            <label class="form-check-label">
                {{ form.DELETE }} Excluir
            </label>
            
            {{ form.arquivos }} 
        </div>
        {% endfor %}
        
        <h3 class="mt-4 mb-3">Adicionar Novos Arquivos</h3>
        <input type="file" name="novos_arquivos" multiple class="form-control" />
        
        <br>
        <input class="btn btn-outline-success mt-3" type="submit" value="Salvar alterações" />
    </form>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}