{% load static %}
<nav class="navbar navbar-expand-lg minha-navbar">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="{% static 'img/LOGO_JIFB_SEM_FUNDO.png' %}" alt="Logo" width="60" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quem_somos' %}">Quem somos</a>
        </li>

        {% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="jornalistaDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Área do Jornalista
          </a>
          <ul class="dropdown-menu" aria-labelledby="jornalistaDropdown">
            <li><a class="dropdown-item" href="{% url 'post-news' %}">Publicar Nova Notícia</a></li>
         
            <li><a class="dropdown-item" href="{% url 'meus_artigos' %}">Meus Artigos</a></li> 
          </ul>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Sair</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
            {% endif %}


      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <form class="search-box" role="search" method="GET" action="{% url 'search' %}">
            <input class="search-txt" type="text" name="pesquisa" placeholder="Pesquisar" aria-label="Pesquisar" autocomplete="off" />
            <button type="submit" class="search-button" aria-label="Pesquisar">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        {% if request.user.is_authenticated %}
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user' request.user.username %}">
              <img src="{{minha_foto_de_perfil.url}}" alt="Perfil" class="rounded-circle" style="width: 40px; height: 40px;">
            </a>
          </li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
<style>
.minha-navbar {
  background-color: #745dab;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: white !important;
  font-weight: bold;
}

.navbar-brand img {
  border-radius: 8px;
}

.navbar-toggler {
  border: none;
}
.dropdown-menu {
  background-color: #f8f9fa;
}


form.search-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background: #1C252E;
  height: 40px;
  border-radius: 50px;
  padding: 5px 10px;
  width: 40px; 
  transition: width 0.4s ease;
  overflow: hidden;
}


form.search-box:hover,
form.search-box:focus-within {
  width: 280px; 
}


form.search-box {
  display: flex;
  align-items: center;
  background: #584681;
  height: 40px;
  border-radius: 50px;
  padding: 5px 10px;
  width: 40px; 
  transition: width 0.4s ease;
  overflow: hidden;
}


form.search-box:hover,
form.search-box:focus-within {
  width: 270px; 
}

/* Input de texto */
.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #f1f1f1;
  font-size: 18px;
  line-height: 30px;
  width: 0;
  padding: 0;
  transition: width 0.4s ease, padding 0.4s ease;
}


form.search-box:hover > .search-txt,
form.search-box:focus-within > .search-txt {
  width: 220px;
  padding: 0 10px;
}

/* Botão de pesquisa */
.search-button {
  color: #cac9c9;
  background: #584681;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
 
  cursor: pointer;
  
  flex-shrink: 0;
  margin-top: 0; /
}

.navbar-nav.ms-auto .nav-link img {
  vertical-align: middle;
  display: inline-block;
  margin-top: 0; 
}

</style>
<script>
  const navLinks = document.querySelectorAll('.nav-link');
  
  const currentPath = window.location.pathname;

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active'); 
    } else {
      link.classList.remove('active'); 
    }
  });

  
</script>