{% load static %}
<nav class="navbar navbar-expand-lg w-100 minha-navbar">
    <div class="container-fluid minha-navbar">
      <nav class="navbar minha-navbar">
            <div class="container minha-navbar">
                <a class="navbar-brand minha-navbar" href="/">
                <img src="{% static 'img/LOGO_JIFB_SEM_FUNDO.png' %}" alt="Logo" width="60" height="60">
               </a>
            </div>
       </nav>
       <button class="navbar-toggler" role="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse minha-navbar" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 minha-navbar">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'quem_somos' %}">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'noticia' 'feed' %}">Ver notícias</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ações
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
              
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Entrar</a></li>
                <li><a class="dropdown-item" href="{% url 'register'%}">Registre-se</a></li>
              {% endif %}

            </ul>
            {% if request.user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Aréa do Jornalista
              </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'publicar' %}">Publicar</a></li>
                </ul>
            </li>
            {% endif %}
          </ul>
          {% if request.user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user' request.user.username %}"  role="button">
                    <img src="{{minha_foto_de_perfil.url}}" alt="Perfil" class="rounded-circle" style="width: 40px; height: 40px;">
                  </a>
                </li>
            </ul>
            {% endif %}
            <form class="d-flex" role="search" method="GET" action="{% url 'procurar' %}">
              <input class="form-control me-2" name="q" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-pesquisar" type="submit">Pesquisar</button>
            </form>
      </div>
    </div>
</nav>
<style>
  .nav-link {
    color: white;
  }
  .nav-link.active {
  color: white !important;
}
  .minha-navbar {
    background-color: #745dab;
    color: white;
  }
  .btn-pesquisar {
    background-color: #5cd65c;
    color: white;
    border: none;
  }
  .btn-pesquisar:hover {
    background-color: #4CAF50;
  }
</style>
<script>
  const navLinks = document.querySelectorAll('.nav-link');
  
  const currentPath = window.location.pathname;

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active'); 
    } else {
      link.classList.remove('active'); 
    }
  });

  
</script>
